html{
	box-sizing: border-box;
	font-family: Helvetica;
	font-size: 16px;
}

*,
*:after,
*::before{
	padding: 0;
	margin: 0;
    box-sizing: border-box;
    background: black;
}

main{
    display: grid;
    grid-template-columns: 2fr 2fr;
}

header{
    display: flex;
    grid-column: 2/4;
    background: black;
}






@media screen and (min-width: 950px){


}
   

	
	 

	




	
	 






